################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Inprout/src/Core/Inprout.Database/Inprout.Database.dbmdl
